@import "tailwindcss";
.Movie {
  width: 200px; /* adjust width to fit your layout */
  height: 350px;
    flex-shrink: 0;         
}
.Movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.swiper-button-prev,.swiper-button-next{
    height: 50px;
    width: 50px;
    border: 2px solid white;
}
.swiper-button-next{
    right: 50px;
}
.swiper-button-prev{
    left: 10px;
}
.Movie:hover{
    transform: scale(1.5);
}